<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
    <link href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<form action="{{url_for('received_data')}}" method="post" class="form-example">
    <div class="form-example">
        <label for="username">Enter your name: </label>
        <input type="text" name="username" id="username" placeholder="name" required>
    </div>
    <div class ="form-example">
        <label for="password">Enter your Password: </label>
        <input type="text" name="password" id="password" placeholder="password" required>
    </div>
    <div class="form-example">
        <button type="submit" >OK</button>
    </div>
</form>

</body>
</html>