body { background-color:#8bcdcd}
hr {
        border-style:none;
        border-top-style: dotted;
        width:10%;border-width:5px;
        border-color:#1f6f8b;
        width:5%}
h1{ color:#1f6f8b}
h2{ color:#1f6f8b}
h3{ color:#1f6f8b}
